# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.13
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    # Syntax verification for YAML and TOML files
    - id: check-yaml
    - id: check-toml

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.6
  hooks:
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]
      pass_filenames: false  #  format the whole repo at once
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [ --fix ]
      pass_filenames: false  # lint the whole repo at once

- repo: local
  hooks:
    # Run unit tests with pytest
    - id: run-unit-tests
      name: "pytest: run unit tests"
      language: system
      entry: uv run pytest tests/unit
      pass_filenames: false  # run tests for the whole repo
